<launch>
    <!-- if false, use the gnss origin frame from mapping -->
    <param name ="mapping" type="bool" value="false"/>

    <node pkg="rviz"  type="rviz"  name="rviz"  args="-d $(find lidar_localization)/rviz/shenlan_filtering.rviz"></node>
    <node pkg="lidar_localization"  type="shenlan_data_pretreat_node"  name="shenlan_data_pretreat_node"  output="screen"></node>
    <node pkg="lidar_localization"  type="shenlan_filtering_node"  name="shenlan_filtering_node"  output="screen"></node>
</launch>